# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

golang ext/
Python extensions/
build/
managed_components/
sdkconfig.old

# ESP-IDF and local editor/cache artifacts
.idf_build_apps/
.cache/
.vscode/.ropeproject/
.vscode/*.log
.vscode/